<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE GOOD FOOD</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    
    <!-- component -->
<div class="animate-pulse min-h-screen bg-slate-200 py-6 flex flex-col justify-center relative overflow-hidden sm:py-12">
    <span class="border text-4xl text-yellow-800 px-6 pt-10 pb-8 bg-white w-1/2 max-w-md mx-auto rounded-t-md sm:px-10">Apply Here</span>
<div class="border relative px-4 pt-7 pb-8 bg-white shadow-xl w-1/2 max-w-md mx-auto sm:px-10 rounded-b-md">
    <form action="/enterRestaurants" method="post">
        <label  class="block">Restaurant Name</label>
        <input name="RestaurantName" type="text" class="border w-full h-10 px-3 mb-5 rounded-md" placeholder="Restaurant Name">
        <label  class="block">Contact Name</label>
        <input name="ContactName" type="text" class="border w-full h-10 px-3 mb-5 rounded-md" placeholder="Contact Name">
        <label  class="block">Pincode</label>
        <input name="Pincode" type="number" class="border w-full h-10 px-3 mb-5 rounded-md" placeholder="Pincode">
        <label  class="block">Location</label>
        <input name="Location" type="text" class="border w-full h-10 px-3 mb-5 rounded-md" placeholder="Location">
        <label  class="block">Website Link</label>
        <input name="Website" type="text" class="border w-full h-10 px-3 mb-5 rounded-md" placeholder="Website Link">
        <label  class="block">Contact No.</label>
        <input name="Phone" type="number" class="border w-full h-10 px-3 mb-5 rounded-md" placeholder="Contact Number">
        <label  class="block">Avg. Daily Trans</label>
        <input name="Avg" type="number" class="border w-full h-10 px-3 mb-5 rounded-md" placeholder="Average Daily Transaction">



                <div class="flex items-start">
                    <div class="flex items-start">
                        
                            
                       
                    
      <button type="submit" class="mt-5 bg-green-500 hover:bg-blue-700 shadow-xl text-white uppercase text-sm font-semibold px-14 py-3 rounded">Submit</button>
    </form>
</div>
</div>

</body>
</html>