<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE GOOD FOOD</title>
    <link href="../public/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navigation container">
        <div class="nav-brand">THE GOOD FOOD</div>
        <ul class="list-non-bullet nav-pills">
            <li class="list-item-inline">
                <a class="link link-active" href="/">home</a>
            </li>
            <li class="list-item-inline">
                <a class="link link" href="/restaurants">Restaurants</a>
            </li>
        </ul>
    </nav>

    <header class="hero">
        <img class="vsh" src="../public/images/My project.png" />
        <h1 class="hero-heading">THE GOOD FOOD <span class="heading-inverted">we source - you enjoy</span></h1>
    </header>

    <section class="section ow">
        <div class="container container-center">
            <h1>Hello Foodies</h1>
            <p>Join us On-board to compete with the top food talents - Serve Delicious Recipes</p>
        </div>
    </section>

    <section class="section">
        <div class="container container-center">
            <h1>Restuarants</h1>
            <a class="link link-primary" href="/form">Apply Here</a>
        </div>
    </section>


    <footer class="footer">
        <div class="footer-header">Good Food makes a Good Mood</div>
    </footer>


    
</body>
</html> 